<div class="container">
    <div class="col-md-1">広告</div>   
    
    
    <div class="col-md-10">

        <header class="header">つぶやき一覧</header>
        <p><%= notice %></p>
   
      <% @blogs.each do |blog| %>
        <div class="row">
          <div class="well">
            <div class="content">
              <%= blog.content %>
              <br><br>
                <div class="panel-footer">
                  <%= blog.created_at %>
                  <br>
                  <%= link_to '閲覧', blog_path(blog.id), class: 'btn btn-primary' %>
                  <%= link_to '編集', edit_blog_path(blog.id), class: 'btn btn-primary'  %>
                  <%= link_to '削除', blog_path(blog.id),class: 'btn btn-primary', method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
      <br>
      <div class=row>
      <%= link_to '新しいつぶやきを投稿する', new_blog_path, class: 'btn btn-primary'  %>
      </div>
    </div>
    <div class="col-md-1">広告</div>
</div>