<div class="container">
  <div class="col-md-2"><%= image_tag 'mori.jpg' %></div>   

  <div class="col-md-8">
    <header class="header">つぶやき確認画面</header>
    <br>
    <p>以下の内容で、送信する。</p>
    <div class="row">
      <div class="content">
        <%= form_with(model: @tweet, url: tweets_path, local: true) do |form| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <%= form.hidden_field :content %>
              <%= @tweet.content %>
            </div>
            <div class="panel-footer">
              <%= form.submit  "登録する", class: 'btn btn-primary' %>
              <%= form.submit "戻る", name: 'back', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class=row>
      <div class="top-bottom">    
        <%= link_to 'つぶやき一覧へ', tweets_path, class: 'btn btn-primary'  %>
      </div>
    </div>
    <footer>
      <div class="company">© Tubuyaki Corp. All RIGHTS RESERVED.</div>
    </fotter>
  </div>

  <div class="col-md-2"><%= image_tag 'making_150202_03.jpg' %></div>
</div>